[Unit]
Description=Rainwave Discord Streamer Bot
Wants=network.target

[Service]
Type=simple
User=william
Group=users
WorkingDirectory=/home/rainwave/rainwave-discord-streamer
ExecStart=/home/rainwave/.local/bin/uv run /home/rainwave/rainwave-discord-streamer/start.py

[Install]
WantedBy=multi-user.target
