[Unit]
Description=Rainwave Discord Streamer Bot
Wants=network.target

[Service]
Type=simple
User=william
Group=users
WorkingDirectory=/opt/rainwave-discord-streamer
ExecStart=/home/william/.local/bin/uv run start.py

[Install]
WantedBy=multi-user.target
