[Unit]
Description=Rainwave Discord Streamer Bot
Wants=network.target

[Service]
Type=simple
User=william
Group=users
WorkingDirectory=/opt/rainwave-discord-streamer
ExecStart=/opt/venv/rainwave-discord-streamer-3.12/bin/python /opt/rainwave-discord-streamer/start.py

[Install]
WantedBy=multi-user.target
